<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.labofclouds.cordova.testePlugin"
      version="0.1.0">
    <name>TestePlugin</name>
    <description>Sample PhoneGap TestePlugin Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,intent</keywords>
 
 
    <js-module src="www/testePlugin.js" name="TestePlugin"></js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TestePlugin">
                <param name="android-package" value="com.labofclouds.cordova.testePlugin.TestePlugin"/>
            </feature>
        </config-file>
 
        <source-file src="src/TestePlugin.java" target-dir="src/com/labofclouds/cordova/testePlugin" />      
     </platform>          
</plugin>